@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

body {
  margin: 0 auto;
  padding: 100px;
  width: 40%;
  background: rgb(230, 230, 230);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: gray;
}

.form {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  font-family: Open Sans;
  gap: 15px;

  h3 {
    margin: 0px;
    color: black;
  }
}

.balance {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  height: 100px;
}

.balanceUSDT {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cash {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #5da787;
  font-size: 20px;
  margin-top: 10px;

  b {
    font-size: 12px;
    font-weight: 200;
  }
}

.receiveAmountBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 15px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 5px;

  label {
    cursor: pointer;
  }
}

.addField {
  cursor: pointer;
  width: 140px;
  color: cornflowerblue;
  gap: 10px;
}

.removeInput {
  color: red;
  font-size: 12px;
}

.customButton {
  background: gainsboro;
  width: 150px;
  height: 40px;
  margin-left: 190px;
}

.blockAdd {
  display: flex;
  justify-content: flex-end;
}
